*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    background-color: rgb(230, 230, 230);

}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}
