*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    background-color: rgb(230, 230, 230);

}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    background-color: #a6194b;

}
nav{
    background-color: #a6194b;
}
.allblog{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;

}
.allblog .blogs{
    background-color: rgb(230, 230, 230);
    padding: 05px 10px;
    margin: 10px 0px;
    border-radius: 5px;

}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head div div{
    background-color: #a6194b;
    color: white;
    padding: 5px  10px;
    border-radius: 5px;
}
.blogs a h4{
    color: dodgerblue;
    font-weight: 600;
}
.blogs p{
    font-style: italic;
}
